<!DOCTYPE html>
<html lang="en">
  <%= render PlanetWeb.LayoutView, "_head.html", conn: @conn%>

  <body class="border-green border-t-7 font-sans">
    <div class="container px-4">
      <%= render PlanetWeb.LayoutView, "_header.html" %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
